

.tag {
/*changed var to hex color */
            background-color: #000;
			color: #fff;
/* border: none; */
/* border: solid; */
/* SY added border width to make it smaller */
            border-width:1px;
/* color: #ff0000; */
/* font-size: 11px; */
            font-size: 12px;
/* padding: 1px 8px; */
            padding: 1px 5px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            margin: 0px 0px;
            cursor: pointer;
/* border-radius: 14px; */
            border-radius: 8px;
          }
          .tag:hover {
          color: white;
/* changed color of hover over tag */
/* background-color: var(--text-accent-hover); */
/* background-color: #faf2d6; */
          background-color: #1C1C1C;
          }
		  
		  


div.markdown-rendered.rtl code,
div.cm-s-obsidian.mod-cm6.is-rtl .HyperMD-codeblock {
    text-align: left;
    direction: ltr;
}

/* fix editing view tags while app rtl */
.is-rtl .cm-hashtag {
	/*unicode-bidi: embed;*/
    --br-outside: var(--tag-radius);
    --br-inside: 0px;
}
.is-rtl .cm-hashtag-begin {
    border-start-start-radius: var(--br-outside);
    border-end-start-radius: var(--br-outside);
    border-start-end-radius: var(--br-inside);
    border-end-end-radius: var(--br-inside);
    padding-inline-start: var(--tag-padding-x);
    padding-inline-end: 0;
}
.is-rtl .cm-hashtag-end {
    border-start-start-radius: var(--br-inside);
    border-end-start-radius: var(--br-inside);
    border-start-end-radius: var(--br-outside);
    border-end-end-radius: var(--br-outside);
    padding-inline-start: 0;
    padding-inline-end: var(--tag-padding-x);
}